@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #f5f5f5;
    color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #0000f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    cursor: default;
    vertical-align: left;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-right: 0.1rem;
    vertical-align: left;
}

.navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-left: 4rem;
    transition: .1s;
}

.navbar a:hover,
.navbar a.active {
    font-weight: 600;
}

/* WA Widget Design */
.wa-widget *{
    margin: 0;
    padding: 0
}

.wa-widget .wa-floatButton {
    position: fixed;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, .3);
    border-radius: 50%;
    background: #0000f3;
    z-index: 1000;
    cursor: pointer;
}

.wa-widget .wa-floatButton i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

/*floating button*/
.wa-widget[data-position^="top-"] .wa-floatButton{
    top: 600px;
}

.wa-widget[data-position^="bottom-"] .wa-floatButton{
    bottom: 80px;
}

.wa-widget[data-position$="-left"] .wa-floatButton{
    left: 20px;
}

.wa-widget[data-position$="-right"] .wa-floatButton{
    right: 20px;
}

/* .wa-widget[data-position^="-center"] .wa-floatButton{
    left: 50%;
} */

/*floating wa box*/
.wa-widget[data-position^="top-"] .wa-ChatBox{
    top: 200px;
}

.wa-widget[data-position^="bottom-"] .wa-ChatBox{
    bottom: 140px;
}

.wa-widget[data-position$="-left"] .wa-ChatBox{
    left: 20px;
}

.wa-widget[data-position$="-right"] .wa-ChatBox{
    right: 20px;
}

.wa-widget .wa-ChatBox{
    position: fixed;
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
    z-index: 1000;
    animation: fadeUp 0.6s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.wa-widget .wa-ChatBox .wa-chatBox-header {
    width: auto;
    background: #0000f3;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.wa-widget .wa-ChatBox .wa-chatBox-header .wa-close {
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.wa-widget .wa-ChatBox .wa-chatBox-header .wa-close i {
    font-size: 3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.wa-widget .wa-ChatBox .wa-chatBox-header .pofile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.wa-widget .wa-ChatBox .wa-chatBox-header .pofile-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wa-widget .wa-ChatBox .wa-chatBox-header .info-box .name {
    color: #f3f3f3;
    font-weight: 600rem;
    font-size: 2rem;
}

.wa-widget .wa-ChatBox .wa-chatBox-header .info-box .answer-time {
    color: #f3f3f3;
    font-size: 1.3rem;
}

.wa-widget .wa-ChatBox .wa-chatBox-body {
    padding: 20px;
    background: #e6ddd4;
    position: relative;
}

.wa-widget .wa-ChatBox .wa-chatBox-body::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.wa-widget .wa-ChatBox .wa-chatBox-body .message {
    max-width: 280px;
    background: #fff;
    font-size: 1.3rem;
    padding: 20px;
    padding-top: 10px;
    border-radius: 8px;
    z-index: 1;
    position: relative;
}

.wa-widget .wa-ChatBox .wa-chatBox-body .message::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: -10px;
    top: 0px;
    border-radius: 3px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);    
}

.wa-widget .wa-ChatBox .wa-chatBox-body .message .decoration{
    color: #fff;
}

.wa-widget .wa-ChatBox .wa-chatBox-body .message .username {
    color: #888888;
    font-weight: 500rem;
    font-size: 1.4rem;
}

.wa-chatBox-footer {
    padding: 14px;
    background-color: #fff;
}

.wa-widget .wa-ChatBox .wa-chatBox-footer .btn {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
}

.wa-widget .wa-ChatBox .wa-chatBox-footer .btn.btn-whatsapp {
    font-weight: 500;
    background: #0000f3;
    color: #f3f3f3;
}

/* Home section */
.home-image img{
    width: 500px;
    height: 500px;
}

#menu-icon {
    font-size: 3.6rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Nama-PT {
    color: #0000f3;
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content span {
    color:#0000f3;
}

.home-content .Services-description {
    font-style: italic;
    font-weight: 500;
    color: #000;
}

.home-content .decoration {
    color: #f3f3f3;
}

.home-content .information {
    font-weight: 500;
}

.home-content h1 {
    font-style: italic;
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    font-size: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .2rem solid #0000f3;
    border-radius: 50%;
    color: #0000f3;
    margin: 3rem 1.5rem 3rem 0;
    transition: .1s ease;
}

.social-media a:hover {
    background: #0000f3;
    color: #f3f3f3;
}

.heading {
    text-align: center;
}

.heading span {
    color: #0000f3;
}

/* Services Section */
.services {
    width: 100%;
}

.services h2 {
    margin-bottom: 5rem;
    font-size: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: gray;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    color: #f3f3f3;
    text-align: center;
    border: .5rem solid gray;
    transition: .1s ease;
}

.services-container .services-box:hover {
    border-color: #0000f3;
    transform: scale(1.02);
}

.services-box i {
    font-size: 4rem;
}

.services-box h3 {
    font-size: 2.2rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services .btn {
    display: inline-block;
    padding: 0.4rem 2rem;
    background-color: #0000f3;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #f3f3f3;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .1s ease;
}

.services .btn:hover {
    box-shadow: 0 0 1rem #0000f3;
}

/* Product Section */
.product {
    width: 100%;
}

.product-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product h2 {
    margin-bottom: 5rem;
    font-size: 5rem;
}

.product-container { 
    width: 31rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid grey;
    border-radius: .7rem;
    border-bottom: .7rem solid #0000f3;
    border-top: .7rem solid #0000f3;
}

.product-box {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

.product-container img{
    height: 100%;
    width: 100%;
}

.product-container h3 {
    font-size: 2.5rem;
    margin-top: -0.5rem;
    color: #000;
    background-color: #f3f3f3;
}

.product-container p {
    max-width: 38rem;
    font-size: 1.5rem;
    color: #000;
    background-color: #f3f3f3;
}


/* Contact Section */
.contact {
    width: 100%;
}

.contact h2 {
    margin-bottom: 5rem;
    font-size: 5rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-container .contact-box {
    flex: 1 1 30rem;
    background: gray;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    color: #f3f3f3;
    text-align: center;
    border: .5rem solid gray;
    transition: .1s ease;
}

.contact-container .contact-box:hover {
    border-color: #0000f3;
    transform: scale(1.02);
}

.contact-box h3 {
    font-size: 2.2rem;
}

.contact-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.contact .btn {
    display: inline-block;
    padding: 0.4rem 2rem;
    background-color: #0000f3;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #f3f3f3;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .1s ease;
}

.contact .btn:hover {
    box-shadow: 0 0 1rem #0000f3;
}

.contact-box i {
    font-size: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: #0000f3;
    border-radius: 50%;
    color: #f3f3f3;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}


/* Footer Section */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: gray;
    color: #f3f3f3;
    width: 100%;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: #0000f3;
    border-radius: .8rem;
    transition: .1s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem;
}

.footer-iconTop a i {
    font-size: 2rem;
    color: #f3f3f3;
}

/* Break Points */

@media (max-width: 1080px){
    .wa-ChatBox .wa-floatButton{
        scale: 300%;
    }
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 800px){
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #0000f3;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home img {
        width: 700px;
        height: 700px;
    }

    .home .Nama-PT {
        font-size: 5rem;
    }

    .home p{
        font-size: 1.7rem;
    }

    .services-container {
        flex-direction: column;
        text-align: justify;
    }

    .services .btn {
        scale: 130%;
    }

    .contact-container {
        flex-direction: column;
        text-align: justify;
    }

    .contact .btn {
        scale: 130%;
    }

    .wa-ChatBox .wa-floatButton{
        scale: 300%;
    }
}

@media (max-width: 450px){
    .logo span {
        font-size: 2rem;
    }

    .home-image img {
        width: 400px;
        height: 400px;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content h3 {
        font-size: 2.3rem;
    }

    .home-content .Nama-PT {
        font-size: 2.8rem;
    }

    .home-content p {
        font-size: 1.5rem;
        text-align: center;
    }

    .product-container {
        flex-direction: column;

    }

    .footer .footer-text p{
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .logo span {
        font-size: 1.6rem;
    }

    .home-image img {
        width: 300px;
        height: 300px;
    }

    .home-content h1 {
        font-size: 1.5rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content .Nama-PT {
        font-size: 2.2rem;
    }

    .home-content p {
        font-size: 1.2rem;
        text-align: center;
    }

    .footer .footer-text p{
        font-size: .8rem;
    }
}

/* MASIH ADA TUGAS UNTUK NGATUR TAMPILAN UNTUK SETIAP RESOLUSI */